@import "./bootstrap/bootstrap-reboot.min.css";
@import "./bootstrap/bootstrap-grid.min.css";

@import "../fonts/fonts.css";

html {
    scroll-behavior: smooth;
}
  
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  